@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-text: "Roboto", sans-serif;
}

@layer base {
	* {
		margin: 0;
		padding: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	:is(*, *::after, *::before) {
		box-sizing: border-box;
	}

	:is(img, video, svg, figure) {
		display: block;
		height: auto;
		max-width: 100%;
	}

	body {
		margin: 0;
		min-height: 100dvh;
		background-color: var(--color-white);
	}

	:is(h1, h2, h3, h4, h5, h6) {
		text-wrap: balance;
		font-weight: 700;
	}

	:is(p, ol, ul, span) {
		text-wrap: pretty;
		font-weight: inherit;
	}

	:is(ol, ul) {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}
